    * {
        text-decoration: none;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    h1 {
    
        -webkit-text-stroke: .08rem black;
    }
    h2 {
        font-size: 5rem;
        margin-top: 3rem;
        margin-bottom: 0;
        color: #fff;
        -webkit-text-stroke: .08rem black;
    
    }
    body {
        font-family: verdana;
    }
    
    .banner-area {
        width: 100%;
        height: 100vh;
        background: url(assets/imgs/club.jpg);
        background-size: cover;
    }
    .content-area {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        text-align: center;
    }
    .content h1 {
        font-size: 5rem;
        color: #fff;
    }
    .content p {
        font-size: 2.5rem;
        color:black;
    }
    .content .button {
        border: none;
        outline: none;
        padding: 1.5rem;
        margin-top: 4rem;
        border-radius: .5rem;
        color:#eee;
        font-size: 1.5rem;
        cursor: pointer;
        background: #222;    
    }

   
     
    
    .area {
        margin: -3.5rem, auto;
        
        background: linear-gradient(to bottom, black,#ffffff
        )
    }
    .container {
    
        padding-top: 1px;
        width: 70%;
        margin: 0px auto;
        margin-bottom: 5rem;
        }
    .container .box {
        
        width: 100%;
        padding: 3rem;
        background: #fff;
        margin-top: 3rem;
        border-radius: .75rem;
        box-shadow: 0 0 1rem -3px rgba(0, 0, 0, 0.8);
        
        
}
footer {
 
    background: linear-gradient(to bottom, #ffffff,black);
    align-items: center;
    padding-top: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 0;
    height: 35rem;
    width: 100%;
    margin-bottom: 0;
    text-align: center;

    
}

footer h1 {
    
    text-align: center;
    font-size: 3rem;   
    margin-bottom: 3rem;

}



#social {
    font-size: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    margin-top: 5rem;
}
#social i {
    
    color: rgb(150, 150, 150);
}

.end {
    margin-top: 1rem;
    margin-left: 9rem;
    margin-right: 9rem;
    padding-bottom: 0rem;
    margin-bottom: 0;
    text-align: left;
    color:rgb(150, 150, 150);
}
    


.back-to-top {
    
    position: relative;
    text-align: right;
    right: 1rem;
    bottom: 1rem;
    
}
.back-to-top i {
    
    
    color:rgb(150, 150, 150);
    padding: 0.5rem;
    clip-path: square();
    font-size: 3rem;
}
